.App {
  text-align: center;
}

body{
  background-image:linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("https://picsum.photos/1366/768");
z-index: -1;
background-size: cover;

}

.main-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-flow: column;
  z-index: 2;
  align-items: center;
}

.intro-content{
  font-size: 4rem;
  color: white;
}

.info-p{
  font-size: 3.4rem;
  color: white;
}

.intro-input{
  padding: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 5px solid white;
  width: 60%;
  text-align: center;
  color: white;
  font-size: 2.8rem;
  outline: none;
  margin-bottom: 2rem;
}

.min-height{
  min-height: 90vh;
}

.footer-section{
  margin-top: 5.6rem;
  position: relative;
}

.center-div{
  display: flex;
  justify-content: center;
  align-content: center;
}

.todo-btn{
  margin-top: -4rem;
}

.text{
  font-size: 2rem;
  color: white;
}

.flex-end{
display: flex;
justify-content: flex-end;
}

.todo-modal-container{
  background-color: #eeee;
  overflow: auto;
  position: absolute;
  bottom: 86%;
  right:1%;
  border-radius: 2px;
  height: fit-content;
  min-width: 15rem;
  padding: 1rem;
  z-index: 2;
  margin-bottom: 1.2rem;
}

.todo-input{
  background-color: transparent;
  border: none;
  border-bottom: 4px solid black;
  outline: none;
  width: 80%;
  padding: 4px;
  margin-top: 1.4rem;
}
.add-btn{
  border: transparent;
  padding: 0%;
  font-size: 1.4rem;
  padding-left: 2 px;
  cursor: pointer;
}

.icon{
  padding-left: 10px;
  cursor: pointer;
}

.todos-list-container{
  display: flex;
  flex-direction: column;
}

.todos-list{
  display: flex;
  justify-content: space-between;
  margin: 8px 2px;
}

.focus-wrapper{
  margin-top: 4.4rem;
  gap: 1rem;
}

.focus-input{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  color: white;
}

.focus-checked{
  color: white;
}

.edit-icon{
  font-size: 1rem;
  position: relative;
  top: 4px;
}